.drag_drop {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2.5rem 0 3rem;
    color: $very-dark-grayish-blue; 

}

.light_drag-drop {
    color: $dark-grayish-blue;
}