.list_display {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 0.5rem;
    background: $very-dark-desaturated-blue;
}

.light_list_display {
    background: $very-light-gray;
}

.check_mark {
    position: relative;

    img {
        position: absolute;
        visibility: hidden;
    }

    button {
        z-index: 999;
        cursor: pointer;
    }

    &:hover {

        img {
            visibility: visible;
        }
    }
}

.user_choice_btn {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    overflow: hidden;
    outline: none;
    border-radius: 50%;
}

.item_display {
    display: flex;
    align-items: center;
    text-align: left;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 1rem 0;
    border-bottom: 1px solid $dark-grayish-blue;
    transition: all 0.3s ease;
    cursor: pointer;

    &:hover {
        transform: translateY(-0.5rem);
        border: none;
        border-radius: 0.5rem;
        background: $very-dark-desaturated-blue;
        box-shadow: 0 0.3rem 2rem 0.5rem $very-dark-blue;
    }

    .item_content {
        color: $light-grayish-blue;
        width: 75%;
        height: 100%;
        margin-top: 0.1rem;

        .item_checked {
            text-decoration: line-through;
            text-decoration-color: $dark-grayish-blue;
            color: $dark-grayish-blue; 
        }
    }

    .light_item_content {
        color: $very-dark-grayish-blue;
    }
}

.light_item_display {

    &:hover {
        background: $very-light-gray;
        box-shadow: 0 0.3rem 2rem 0.5rem $very-light-grayish-blue;;
    }
}

.cross {
    cursor: pointer;
    position: relative;
    width: 2rem;
    height: 2rem;
    margin-right: 0.5rem;

    button {
        width: 100%;
        height: 100%;
        background: transparent;
        border: none;
        overflow: hidden;
        outline: none;
        cursor: pointer;
    }
}

.list_info {
    display: flex;
    justify-content: space-between;
    margin: 1.5rem 0;
    padding: 0 1rem;
    color: $dark-grayish-blue; 
}

.items_statues {
    display: none;
}

.items_clear {

    button {
        cursor: pointer;
        background: $very-dark-desaturated-blue;
        color: $dark-grayish-blue; 
        font-family: "Josefin Sans", sans-serif;
        font-size: $normal-size;
        border: none;
    
        &:hover {
            color: $bright-blue;
        }
    }
}

.items_clear {

    .light_items_clear {
        background: $very-light-gray;
    }
}

.statues {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
    padding: 1.5rem 0;
    border-radius: 0.5rem;
    background: $very-dark-desaturated-blue;
    color: $dark-grayish-blue; 

    .items_statues {
        display: block;
        
        span {
            margin: 0 0.5rem;
            cursor: pointer;

            &:hover {
                color: $bright-blue;
            }
        }
    }
}

.light_statues {
    background: $very-light-gray;
    color: $very-dark-grayish-blue; 
}

.active {
    color: $bright-blue;
}