.user_input_box {
    display: flex;
    align-items: center;
    width: 100%;
    height: 3.5rem;
    margin: 1.5rem 0 1rem;
    background: $very-dark-desaturated-blue;
    border-radius: 0.5rem;
}

.light_input_box {
    background: $very-light-gray;
}

.check {
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0.8rem 0 1rem;
    transition: all .3s ease-in;
}

.check_mark {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background: $very-dark-desaturated-blue;
    border: 1px solid $light-grayish-blue;
    cursor: pointer;

    &:hover {
        background: $check-background;
    }
}

.light_check_mark {
    background: $very-light-gray;
    border-radius: 50%;
}

.user_input {
    flex-grow: 1;
    align-items: center;

    .userInput_form {
        
        input {
            width: 95%;
            background: transparent;
            outline: none;
            border: none;
            color: $light-grayish-blue;
        }
        
        .light_userInput_form {
            color: $very-dark-grayish-blue;
        }
    }

}

.user_input_btn {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    overflow: hidden;
    outline: none;
    border-radius: 50%;
}