    <footer class="attribution">
    Challenge by <a href="https://www.frontendmentor.io?ref=challenge" target="_blank">Frontend Mentor</a>. 
    Coded by <a href="https://sajana-wijesinghe.com/" target="_blank">Sajana Wijesinghe</a>.
    </footer>

    <script src="https://unpkg.com/interactjs/dist/interact.min.js"></script>
    <script src="/js/drag-drop.js"></script>
    <script src="/js/themechanger.js"></script>
    <script src="/js/completedList.js"></script>
</body>
</html>