    <footer class="attribution">
        Challenge by <a href="https://www.frontendmentor.io?ref=challenge" target="_blank">Frontend Mentor</a>. 
        Coded by <a href="https://sajana-wijesinghe.com/" target="_blank">Sajana Wijesinghe</a>.
    </footer>

    <script src="./js/themeChanger.js"></script>
</body>
</html>