<!-- Import the header section -->
<%- include("./header"); %>

<span class="bg-1"></span>
<span class="bg-2"></span>

<section class="container">
    <div class="title_section">
        <h1>TO DO</h1>

        <img src="/images/icon-sun.svg" alt="sun icon">
    </div>

    <div class="user_input">
        <form action="/" method="post">
            <input type="text" name="newItem" placeholder="Create a new todo" autocomplete="off">
        </form>
    </div>

    <div class="todo_list">

    </div>
</section>

<!-- Import the footer section -->
<%- include("./footer"); %>