@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");
.container .user_input-th2 {
  background-color: #fafafa;
}

.container .user_input-th2 .input_form .input_location {
  background-color: #fafafa;
  color: #777a92;
}

.container .user_input-th2 .input_form .btn_submit {
  border: 0.1rem solid #cacde8;
  background-color: #fafafa;
}

.container .todo_container-th2 {
  background-color: #fafafa;
  -webkit-box-shadow: 0px 10px 5px 0px #c0baba;
          box-shadow: 0px 10px 5px 0px #c0baba;
}

.container .todo_container-th2 .todo_list .item form input[type="checkbox"] {
  border: 0.1rem solid #cacde8;
}

.container .todo_container-th2 .todo_list .item form input:checked + p {
  text-decoration: line-through;
  -webkit-text-decoration-color: #cacde8;
          text-decoration-color: #cacde8;
  color: #cacde8;
}

.container .todo_container-th2 .todo_list .item form p {
  color: #777a92;
}

.container .todo_container-th2 .todo_list .item form p:hover {
  color: #484b6a;
}

.container .todo_container-th2 .todo_list .item .br_line {
  border: 0.1rem solid #e4e5f1;
}

.container .todo_container-th2 .shortcut a {
  color: #cacde8;
}

.container .todo_container-th2 .shortcut p {
  color: #cacde8;
}

.container .user_selection-th2 {
  background-color: #fafafa;
  -webkit-box-shadow: 0px 10px 5px 0px #c0baba;
          box-shadow: 0px 10px 5px 0px #c0baba;
}

.container .user_selection-th2 a {
  color: #cacde8;
}

.container .direction-th2 {
  color: #cacde8;
  font-weight: 700;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
}

body {
  position: relative;
  width: 100%;
  height: 100%;
}

.bg-1 {
  position: absolute;
  width: 100%;
  height: 26vh;
  background: url("/images/bg-mobile-dark.jpg") no-repeat center;
  background-size: cover;
  z-index: -1;
}

.bg-2 {
  position: absolute;
  top: 26vh;
  width: 100%;
  height: calc(100vh - 26vh);
  background: #161722 no-repeat center;
  background-size: contain;
  z-index: -1;
  overflow: hidden;
}

.container {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  max-width: 745px;
  min-width: 375px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 2rem;
  position: relative;
  margin: 0 auto;
}

.container .quick_fix-bg {
  position: absolute;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: 100%;
  background: #161722;
  z-index: -2;
}

.title_section {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFF;
  margin: 2rem 0;
  width: 100%;
}

.title_section h1 {
  letter-spacing: .4rem;
}

.title_section img {
  width: 7%;
  height: 7%;
}

.user_input {
  width: 100%;
  height: 3rem;
  background: #25273c;
  border-radius: .5rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user_input .input_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  width: 100%;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.user_input .input_form .input_location {
  border: none;
  background: #25273c;
  color: #cacde8;
  outline: none;
  width: 80%;
}

.user_input .input_form .btn_submit {
  width: 1.3rem;
  height: 1.3rem;
  border-radius: 50%;
  border: 0.1rem solid #4d5066;
  margin: 0 .8rem 0 1.6rem;
  background: #25273c;
}

.todo_container {
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  margin: 1rem 0;
  background: #25273c;
  border-radius: .5rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #cacde8;
  -webkit-box-shadow: 0px 10px 5px 0px #0e0f13;
          box-shadow: 0px 10px 5px 0px #0e0f13;
}

.todo_container .todo_list {
  width: 100%;
}

.todo_container .todo_list .item {
  cursor: pointer;
}

.todo_container .todo_list .item .over {
  border: 3px dotted #f6f6f6;
}

.todo_container .todo_list .item form {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: #cacde8;
  width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: .5rem;
}

.todo_container .todo_list .item form input[type="checkbox"] {
  -webkit-appearance: none;
  position: relative;
  width: 20px;
  height: 20px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 1rem 1rem 1rem 1.6rem;
  border-radius: 50%;
  border: 0.1rem solid #4d5066;
  cursor: pointer;
  -webkit-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 1px rgba(0, 0, 0, 0.1);
}

.todo_container .todo_list .item form input[type="checkbox"]::before {
  content: "";
  position: absolute;
  top: 65%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  pointer-events: none;
  background-image: url("../images/icon-check.svg");
  background-size: contain;
  background-repeat: no-repeat;
  display: none;
}

.todo_container .todo_list .item form input[type="checkbox"]:checked {
  background: -webkit-gradient(linear, left top, left bottom, from(#57ddff), to(#c058f3));
  background: linear-gradient(#57ddff, #c058f3);
}

.todo_container .todo_list .item form input[type="checkbox"]:checked::before {
  display: block;
}

.todo_container .todo_list .item form input:checked + p {
  text-decoration: line-through;
  -webkit-text-decoration-color: #777a92;
          text-decoration-color: #777a92;
  color: #777a92;
}

.todo_container .todo_list .item form p {
  padding: 1.1rem 1rem 1rem 0;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 75%;
}

.todo_container .todo_list .item form p:hover {
  color: #e4e5f1;
}

.todo_container .todo_list .item form .cross {
  width: .8rem;
  height: .8rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-right: 1rem;
}

.todo_container .todo_list .item .br_line {
  display: inline-block;
  width: 100%;
  border: 0.1rem solid #4d5066;
}

.todo_container .shortcut {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.todo_container .shortcut a {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  display: none;
  text-decoration: none;
  color: #4d5066;
  cursor: pointer;
}

.todo_container .shortcut p {
  margin: 1rem 1.2rem;
  color: #4d5066;
}

.user_selection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  background: #25273c;
  padding: 1rem;
  border-radius: .5rem;
  -webkit-box-shadow: 0px 10px 5px 0px #0e0f13;
          box-shadow: 0px 10px 5px 0px #0e0f13;
}

.user_selection a {
  margin: 0 1.5rem;
  color: #4d5066;
  cursor: pointer;
  text-decoration: none;
}

.user_selection a:hover {
  color: #3a7bfd;
}

.direction {
  margin: 3rem 0 4rem;
  color: #4d5066;
}

@media (min-height: 875px) {
  .title_section {
    margin-top: 8vh;
  }
}

@media (min-width: 455px) {
  .todo_container .todo_list .item form input[type="checkbox"] {
    margin-left: calc(1.6rem - 1%);
  }
}

@media (min-width: 510px) {
  .todo_container .todo_list .item form input[type="checkbox"] {
    margin-left: calc(1.6rem - 2%);
  }
}

@media (min-width: 600px) {
  .todo_container .todo_list .item form input[type="checkbox"] {
    margin-left: calc(1.6rem - 3%);
  }
}

@media (min-width: 725px) {
  .shortcut a {
    display: block !important;
  }
  .user_selection {
    display: none;
  }
  .todo_container .todo_list .item form input[type="checkbox"] {
    margin-left: 0;
  }
}
/*# sourceMappingURL=main.css.map */